*::-webkit-input-placeholder {  
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

/* префиксы плайс холдеров */

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}

.header_topline {
	background-color: #43484C;
	padding: 15px 0;
	color: #fff;
}

.header_topline a {
	color: #fff;
	
}

.top_links a {
	text-decoration: underline; /* Добавляет оформление текста в виде его подчеркивания */
}

.top_links {
	display: inline-block;
	vertical-align: middle;
	z-index: 10;
}

.top_links a:hover {
	text-decoration: none; /* исчезает подчеркивание при наведении */
}

.soc_buttons {
	float: right; /* выравнивание по правой стороне */
}

.soc_buttons a {
	font-size: 25px; /* размер иконок */
	margin-left: 8px; /* отступ слева от соседней иконки */
}

.auth_buttons {
	background-color: transparent;
	border: none; /* убираем рамку кнопки */
	font-size: 25px;
}

.logo {
	display: block;
	padding: 15px 0;
	color: #fff;
	/* font-family: 'Spectral SC', serif; */
	font-size: 26px;
	font-family: "NeoSansProRegular";
	text-align: center;
}

.top_header {
	background-color: #25F7FA;
}

.main_mnu {
	background-color: #64F7E4;;
	color: #494949;
	margin-bottom: 20px;
}

.main_mnu a {
	color: #a3a3a3;
	padding: 15px;
	display: block;
}

.main_mnu ul {
	margin: 0;
	padding: 0;
	list-style-type: none; /* убираем у ссылок кругляшки */
	float: left;
}

.top_contacts {
	float: right;
}

.main_mnu ul li {
	display: inline-block; /* что бы ссылки были в ряд */
}