*::-webkit-input-placeholder {  
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

/* префиксы плайс холдеров */

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}

.header_topline {
	background-color: #43484C;
	padding: 15px 0;
	color: #fff;
}

.header_topline a {
	color: #fff;
	
}

.top_links a {
	text-transform: uppercase;
	  /* Добавляет оформление текста в виде его подчеркивания */
}

.top_links {
	display: inline-block;
	vertical-align: middle;
	z-index: 10;
	padding-top: 7px;
}

.top_links a:hover {
	color: #ffdca8;
	-webkit-transition: all .15s;
	-o-transition: all .15s;
	transition: all .15s;
	text-decoration: none; /* исчезает подчеркивание при наведении */
}

.soc_buttons {
	float: right; /* выравнивание по правой стороне */
}

.soc_buttons a {

	font-size: 25px; /* размер иконок */
	margin-left: 8px; /* отступ слева от соседней иконки */
}

.vk a:hover {
	color: #5181b7;
	-webkit-transition: all .15s;
	-o-transition: all .15s;
	transition: all .15s;
}

.fb a:hover {
	color: #3b5998;
	-webkit-transition: all .15s;
	-o-transition: all .15s;
	transition: all .15s;
}

.tw a:hover {
	color: #40ccfc;
	-webkit-transition: all .15s;
	-o-transition: all .15s;
	transition: all .15s;
}


.auth_buttons,
.menu_button {
	background-color: transparent;
	border: none; /* убираем рамку кнопки */
	font-size: 25px;
	z-index: 10;

}

.auth_buttons:hover,
.menu_button:hover {
	color: #ffdca8;
	-webkit-transition: all .15s;
	-o-transition: all .15s;
	transition: all .15s;
	
}

.menu_button {
	color: #fff;
	padding: 9px 0px 9px 15px;
}

.logo {
	display: block;
	padding: 20px;
	color: #fff;
	/* font-family: 'Spectral SC', serif; */
	font-size: 30px;
	font-family: "BenderRegular";
	text-align: center;
	cursor: default;
}

.top_header {
	background-color: #01afb0;
}

.main_mnu {
	background-color: #0468b4;;
	color: #ffdca8;
	margin-bottom: 20px;
}

.main_mnu a {
	color: #ffdca8;
	display: block;
	padding: 15px;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	text-transform: uppercase;
	
}

.main_mnu a:hover {
	background-color: #21409b;
}

.main_mnu ul {
	list-style-type: none; /* убираем у ссылок кругляшки */
	float: left;
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 5;
}

.main_mnu ul li {
	display: inline-block; /* что бы ссылки были в ряд */
}

.top_contacts {
	float: right;
	font-size: 25px;
	padding-top: 9px;
	padding-right: 15px;
	padding-bottom: 9px;
	padding-left: 15px;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	cursor: pointer;
}

.top_contacts:hover {
	background-color: #21409b 
}

h1 {
	color: #000;
	text-transform: uppercase;
	text-align: center;
	font-family: "NeoSansProRegular";
	position: relative;
	top: 10px;
	z-index: 1;
	cursor: default;
}

